:host {
	display: flex;
	pointer-events: none;
	/*--harmony-color-picker-shadow-gap: var(--harmony-color-picker-gap, 0.5rem);*/
	--harmony-splitter-shadow-gutter-thickness: var(--harmony-splitter-gutter-thickness, 0.3rem);
	--harmony-splitter-shadow-gutter-bg-color: var(--harmony-splitter-gutter-bg-color, black);
}

:host(.vertical) {
	flex-direction: row;
}

:host(.horizontal) {
	flex-direction: column;
}

:host .gutter {
	flex: 0 0 var(--harmony-splitter-shadow-gutter-thickness);
	pointer-events: all;
	background-color: var(--harmony-splitter-shadow-gutter-bg-color);
}

:host(.vertical) .gutter {
	cursor: ew-resize;
}

:host(.horizontal) .gutter {
	cursor: ns-resize;
}

:host .panel {
	flex: 0 0 50%;
	display: flex;
	pointer-events: none;
}
