:host{
	--harmony-color-picker-shadow-width: var(--harmony-color-picker-width, 15rem);
	--harmony-color-picker-shadow-height: var(--harmony-color-picker-height, 15rem);
	--harmony-color-picker-shadow-gap: var(--harmony-color-picker-gap, 0.5rem);

	--foreground-layer: none;

	background-color: var(--main-bg-color-bright);
	padding: var(--harmony-color-picker-shadow-gap);
	box-sizing: border-box;
	display: inline-grid;
	/*grid-template-rows: 1rem 5fr;
	grid-template-columns: 2fr 2fr 1rem;*/
	column-gap: var(--harmony-color-picker-shadow-gap);
	row-gap: var(--harmony-color-picker-shadow-gap);

	/*width: var(--harmony-color-picker-width, 10rem);
	height: var(--harmony-color-picker-height, 10rem);*/
	/*display: flex;
	flex-wrap: wrap;*/
	grid-template-areas: "h h h h" "m m m a" "i s o o";
}

#hue-picker{
	position: relative;
	/*flex-basis: var(--harmony-color-picker-shadow-width);*/
	padding: 1rem;
	background-image: linear-gradient(90deg, red, yellow, lime, cyan, blue, magenta, red);
	grid-area: h;
	height: 0;
}
#main-picker{
	position: relative;
	grid-area: m;
	width: var(--harmony-color-picker-shadow-width);
	height: var(--harmony-color-picker-shadow-height);
	background-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0) 50%),linear-gradient(0deg, black, rgba(0, 0, 0, 0) 50%),linear-gradient(90deg, #808080, rgba(128, 128, 128, 0));
	background-color: currentColor;
}
#alpha-picker{
	position: relative;
	padding: 1rem;
	grid-area: a;
	width: 0;
}
#hue-selector{
	padding: 1rem 0.2rem;
}
#alpha-selector{
	padding: 0.2rem 1rem;
}
#main-selector{
	padding: 0.5rem;
	border-radius: 50%;
}
#input{
	width: calc(var(--harmony-color-picker-shadow-width) * 0.6);
	grid-area: i;
	font-family: monospace;
	font-size: 1.5rem;
	box-sizing: border-box;
}
#sample{
	grid-area: s;
	width: calc(var(--harmony-color-picker-shadow-width) * 0.25);
}
#ok{
	grid-area: o;
}
.alpha-background{
	background: var(--foreground-layer),
				linear-gradient(45deg, lightgrey 25%, transparent 25%, transparent 75%, lightgrey 75%) 0 0 / 1rem 1rem,
				linear-gradient(45deg, lightgrey 25%, white 25%, white 75%, lightgrey 75%) 0.5em 0.5em / 1em 1em;
}
.selector{
	position: absolute;
	border: 2px solid #fff;
	border-radius: 100%;
	box-shadow: 0 0 3px 1px #67b9ff;
	transform: translate(-50%, -50%);
	cursor: pointer;
	display: block;
	background: none;
	border-radius: 2px;
}
