:root{
	--harmony-radio-button-border-radius: 0.5rem;
	--harmony-radio-button-padding: 0.5rem;
	--harmony-radio-button-font-size: 1rem;
}
:host{
	--harmony-radio-shadow-button-border-radius: var(--harmony-radio-button-border-radius, 0.5rem);
	--harmony-radio-shadow-button-padding: var(--harmony-radio-button-padding, 0.5rem);
	--harmony-radio-shadow-button-font-size: var(--harmony-radio-button-font-size, 1rem);
	display: inline-flex;
	overflow: hidden;
	user-select: none;
}
.harmony-radio-label{
	margin: auto 0;
	font-weight: bold;
	margin-right: 0.25rem;
}
button{
	padding: var(--harmony-radio-shadow-button-padding);
	color: var(--harmony-ui-text-primary);
	cursor: pointer;
	appearance: none;
	border-style: solid;
	border-width: 0.0625rem;
	border-color: var(--harmony-ui-border-primary);
	border-right-style: none;
	background-color: var(--harmony-ui-input-background-primary);
	transition: background-color 0.2s linear;
	font-size: var(--harmony-radio-shadow-button-font-size);
	overflow: hidden;
}
button:hover{
	background-color: var(--harmony-ui-input-background-secondary);
}
button[selected]{
	background-color: var(--harmony-ui-accent-primary);
}
button[selected]:hover{
	background-color: var(--harmony-ui-accent-secondary);
}
button:first-of-type{
	border-radius: var(--harmony-radio-shadow-button-border-radius) 0 0 var(--harmony-radio-shadow-button-border-radius);
}
button:last-child{
	border-right-style: solid;
	border-radius: 0 var(--harmony-radio-shadow-button-border-radius) var(--harmony-radio-shadow-button-border-radius) 0;
}
