:host {
	font-size: 1.5em;
	cursor: not-allowed;
	background-color: green;
	background-color: var(--theme-menu-bg-color);
	overflow: auto;
	z-index: 100000;
}

.harmony-menu-item {
	background-color: green;
	cursor: pointer;
	background-color: var(--theme-menu-item-bg-color);
}

.harmony-menu-item.disabled {
	pointer-events: none;
}

.harmony-menu-item.selected {
	background-color: blue;
	background-color: var(--theme-menu-item-selected-bg-color);
}


.harmony-menu-item.separator {
	height: 5px;
	background-color: black;
}

.harmony-menu-item>.harmony-menu-item-title:hover {
	background-color: var(--theme-menu-item-hover-bg-color);
}

.harmony-menu-item.selected>.harmony-menu-item-title::after {
	content: "✔";
}

.harmony-menu-item>.harmony-menu-item-title::after {
	transition: all 0.2s ease 0s;
	width: 32px;
	height: 32px;
}

.harmony-menu-item.closed>.harmony-menu-item-title,
.harmony-menu-item.opened>.harmony-menu-item-title {
	padding-right: 32px;
}

.harmony-menu-item.closed>.harmony-menu-item-title::after {
	content: "➤";
}

.harmony-menu-item.opened>.harmony-menu-item-title::after {
	content: "➤";
	transform: rotate(90deg);
}

.harmony-menu-item .submenu {
	background-color: var(--theme-menu-submenu-bg-color);
	padding-left: 10px;
	margin-left: 2px;
	display: none;
	overflow: hidden;
	position: relative;
	background-color: var(--theme-menu-submenu-fg-color);
}

.harmony-menu-item.opened>.submenu {
	display: block;
}
