:host {
	display: flex;
	flex: 1;
	flex-direction: column;

	flex: 0 0 auto;
	box-sizing: border-box;
	pointer-events: all;
	position: relative;
	flex-direction: column;
	box-sizing: border-box;
	--header-bg-color: var(--harmony-panel-header-bg-color, var(--main-bg-color-dark, black));
	--content-bg-color: var(--harmony-panel-content-bg-color, var(--main-bg-color-dark, black));

	--resize-bar-size: 0.5rem;
}

.harmony-panel-row {
	flex-direction: row;
}

.harmony-panel-row>harmony-panel {
	height: 100%;
}

.harmony-panel-column {
	flex-direction: column;
}

.harmony-panel-column>harmony-panel {
	width: 100%;
}

.harmony-panel-splitter {
	display: none;
	flex: 0 0 10px;
	background-color: red;
}

.header {
	cursor: pointer;
	font-size: 1.5em;
	padding: 0.25rem;
	overflow: hidden;
	flex: 0 0 2rem;
	background-color: var(--header-bg-color);
	display: flex;
	align-items: center;
}

.content {
	width: 100%;
	box-sizing: border-box;
	background-color: var(--content-bg-color);
	flex: 1;
	overflow: hidden;
}

.header.target {
	background: blue;
}

.content.target {
	background: blue;
}

[collapsible='1']>.title::after {
	content: "-";
	right: 0.25rem;
	position: absolute;
}

[collapsed='1']>.title::after {
	content: "+";
}

.resize {
	pointer-events: none;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.resize>* {
	pointer-events: all;
	position: absolute;
}

.resize>.side {
	background: red;
	pointer-events: all;
	inset: calc(var(--resize-bar-size) * 0.5);
}

.resize>.corner {
	background: blue;
	pointer-events: all;
	height: var(--resize-bar-size);
	width: var(--resize-bar-size);
}

.resize>.top,
.resize>.bottom {
	height: var(--resize-bar-size);
	width: auto;
	cursor: ns-resize;
}

.resize>.right,
.resize>.left {
	width: var(--resize-bar-size);
	height: auto;
	cursor: ew-resize;
}

.resize>.top {
	top: calc(var(--resize-bar-size) * -0.5);
	bottom: unset;
}

.resize>.bottom {
	top: unset;
	bottom: calc(var(--resize-bar-size) * -0.5);
}

.resize>.left {
	left: calc(var(--resize-bar-size) * -0.5);
	right: unset;
}

.resize>.right {
	left: unset;
	right: calc(var(--resize-bar-size) * -0.5);
}

.resize>.top_right {
	top: calc(var(--resize-bar-size) * -0.5);
	right: calc(var(--resize-bar-size) * -0.5);
	cursor: ne-resize;
}

.resize>.bottom_right {
	bottom: calc(var(--resize-bar-size) * -0.5);
	right: calc(var(--resize-bar-size) * -0.5);
	cursor: se-resize;
}

.resize>.top_left {
	top: calc(var(--resize-bar-size) * -0.5);
	left: calc(var(--resize-bar-size) * -0.5);
	cursor: nw-resize;
}

.resize>.bottom_left {
	bottom: calc(var(--resize-bar-size) * -0.5);
	left: calc(var(--resize-bar-size) * -0.5);
	cursor: sw-resize;
}

:host(.floating) .resize {
	display: initial;
}
