:host {
	display: flex;
	padding: 0.5rem;
}

:host-context(.ok) {
	background-color: green;
}

:host-context(.warning) {
	background-color: #413c26;
	color: #D3A247;
}

:host-context(.error) {
	background-color: #4E3534;
	color: red;
}
