label {
	cursor: pointer;
	height: 100%;
	display: flex;
	user-select: none;
}

label>span {
	margin: auto;
}

.tooltip {
	position: relative;
}

.text {
	flex: 1;
	font-size: 2rem;
}

.icon,
.info {
	zoom: 2;
}
