:root{
	--harmony-switch-width: 4rem;
	--harmony-switch-height: 2rem;
	--harmony-switch-on-background-color: #1072eb;
	--harmony-switch-on-background-color-hover: #1040c1;
	--harmony-switch-slider-width: 1.4rem;
	--harmony-switch-slider-height: 1.4rem;
	--harmony-switch-slider-margin: 0.3rem;
	--harmony-switch-slider-border-width: 0rem;
}

harmony-switch{
	display: inline-flex;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
	justify-content: space-between;
}
.harmony-switch-label{
	margin: auto 0;
	font-weight: bold;
}
.harmony-switch-outer{
	display: flex;
	flex: 0 0 var(--harmony-switch-width);
	height: var(--harmony-switch-height);
	border-radius: calc(var(--harmony-switch-height) * 0.5);
	align-items: center;
	margin-left: 0.25rem;
	transition: background-color 0.25s linear;
}

harmony-switch > span{
	background-color: var(--harmony-ui-input-background-primary);
}
harmony-switch:hover > span{
	background-color: var(--harmony-ui-input-background-secondary);
}
harmony-switch.on > span{
	background-color: var(--harmony-ui-accent-primary);
}
harmony-switch.on:hover > span{
	background-color: var(--harmony-ui-accent-secondary);
}
.harmony-switch-inner{
	display: inline-block;
	height: var(--harmony-switch-slider-height);
	width: var(--harmony-switch-slider-width);
	border-radius: calc(var(--harmony-switch-slider-height) * 0.5);
	transition: all 0.25s;
	position: relative;
	left: var(--harmony-switch-slider-margin);
	border: var(--harmony-switch-slider-border-width) solid;
	box-sizing: border-box;
	border-color: var(--harmony-ui-input-border-primary);
	background-color: var(--harmony-ui-input-background-tertiary);
}
harmony-switch.ternary .harmony-switch-inner{
	left: calc(50% - var(--harmony-switch-slider-width) * 0.5);
}
harmony-switch.off .harmony-switch-inner{
	left: var(--harmony-switch-slider-margin);
}
harmony-switch.on .harmony-switch-inner{
	left: calc(100% - var(--harmony-switch-slider-width) - var(--harmony-switch-slider-margin));
}
harmony-switch.ternary.off > span{
	background-color: red;
}
harmony-switch.ternary.off:hover > span{
	background-color: red;
}
harmony-switch.ternary.on > span{
	background-color: green;
}
harmony-switch.ternary.on:hover > span{
	background-color: green;
}

