:host {
	--harmony-2d-manipulator-shadow-radius: var(--harmony-2d-manipulator-radius, 0.5rem);
	--harmony-2d-manipulator-shadow-bg-color: var(--harmony-2d-manipulator-bg-color, red);
	--harmony-2d-manipulator-shadow-border: var(--harmony-2d-manipulator-border, none);
	--handle-bg-color: var(--harmony-2d-manipulator-handle-bg-color, chartreuse);
	--corner-bg-color: var(--harmony-2d-manipulator-corner-bg-color, var(--handle-bg-color));
	--side-bg-color: var(--harmony-2d-manipulator-side-bg-color, var(--handle-bg-color));
	--rotate-bg-color: var(--harmony-2d-manipulator-rotate-bg-color, var(--handle-bg-color));

	width: 1rem;
	height: 1rem;
	display: block;
	user-select: none;
	pointer-events: all;
}

:host-context(.grabbing) {
	cursor: grabbing;
}

.manipulator {
	position: absolute;
	background-color: var(--harmony-2d-manipulator-shadow-bg-color);
	border: var(--harmony-2d-manipulator-shadow-border);
	cursor: move;
	pointer-events: all;
}

.rotator {
	position: absolute;
	width: var(--harmony-2d-manipulator-shadow-radius);
	height: var(--harmony-2d-manipulator-shadow-radius);
	background-color: var(--rotate-bg-color);
	border-radius: calc(var(--harmony-2d-manipulator-shadow-radius) * 0.5);
	transform: translate(-50%, -50%);
	cursor: grab;
}

.corner {
	position: absolute;
	width: var(--harmony-2d-manipulator-shadow-radius);
	height: var(--harmony-2d-manipulator-shadow-radius);
	background-color: var(--corner-bg-color);
	border-radius: calc(var(--harmony-2d-manipulator-shadow-radius) * 0.5);
	transform: translate(-50%, -50%);
	cursor: grab;
}

.side {
	position: absolute;
	width: var(--harmony-2d-manipulator-shadow-radius);
	height: var(--harmony-2d-manipulator-shadow-radius);
	background-color: var(--side-bg-color);
	border-radius: calc(var(--harmony-2d-manipulator-shadow-radius) * 0.5);
	transform: translate(-50%, -50%);
	cursor: grab;
}

.side.x {
	scale: var(--resize-x);
}

.side.y {
	scale: var(--resize-y);
}

.corner.grabbing {
	cursor: grabbing;
}
