:host {
	--harmony-radio-shadow-button-border-radius: var(--harmony-radio-button-border-radius, 0.5rem);
	display: inline-flex;
	overflow: hidden;
	user-select: none;
}

.label {
	margin: auto 0;
	font-weight: bold;
	margin-right: 0.25rem;
}

::slotted(button) {
	padding: var(0.5rem);
	color: var(--harmony-ui-text-primary);
	flex: auto;
	cursor: pointer;
	appearance: none;
	border-style: solid;
	border-width: 0.0625rem;
	border-color: var(--harmony-ui-border-primary);
	border-right-style: none;
	background-color: var(--harmony-ui-input-background-primary);
	transition: background-color 0.2s linear;
	font-size: 1rem;
	overflow: hidden;
}

::slotted(button:hover) {
	background-color: var(--harmony-ui-input-background-secondary);
}

::slotted(button[selected]) {
	background-color: var(--harmony-ui-accent-primary);
}

::slotted(button[selected]:hover) {
	background-color: var(--harmony-ui-accent-secondary);
}

::slotted(button:first-of-type) {
	border-radius: var(--harmony-radio-shadow-button-border-radius) 0 0 var(--harmony-radio-shadow-button-border-radius);
}

::slotted(button:last-child) {
	border-right-style: solid;
	border-radius: 0 var(--harmony-radio-shadow-button-border-radius) var(--harmony-radio-shadow-button-border-radius) 0;
}
