:host {
	cursor: pointer;
	display: inline-block;
	position: relative;
}

on,
off {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: 100% auto;
	box-sizing: border-box;
}
