html{
	--harmony-palette-color-size: 2rem;
	--harmony-palette-gap: 0.5rem;
	--harmony-palette-border-color: grey;
	--harmony-palette-selected-border-color: orange;
}

harmony-palette{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--harmony-palette-gap);
}

.harmony-palette-color{
	height: var(--harmony-palette-color-size);
	width: var(--harmony-palette-color-size);
	border-radius: calc(var(--harmony-palette-color-size) * .1);
	border: calc(var(--harmony-palette-color-size) * .1) solid var(--harmony-palette-border-color);
	padding: calc(var(--harmony-palette-color-size) * .1);
	cursor: pointer;
}
.harmony-palette-color.selected{
	border-color: var(--harmony-palette-selected-border-color);
	border-width: calc(var(--harmony-palette-color-size) * .2);
	padding: 0;
	color: black;
}
